         
            <form class="max-w-md mx-auto">   
              
              <div class="relative">
                  <div class="absolute inset-y-0 end-2 flex items-center ps-3 pointer-events-none">
                      <svg class="w-8 h-8 text-white dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </div>
                  <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm border-b-white border-t-0 border-r-0 border-l-0 bg-transparent focus:ring-0 placeholder:text-white placeholder:text-[30px]" placeholder="Search Here..." required />
                  
              </div>
            </form>