

<nav class="bg-white dark:bg-gray-900 fixed w-full z-50 top-0 start-0 ">
    <div class="container flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="Group3.png" class="h-[86px]" alt="Flowbite Logo">
        
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        
        
            <div  class="flex gap-4 items-center">
                <span data-modal-target="progress-modal" data-modal-toggle="progress-modal" class="cursor-pointer" ><img src="Vector (1).png" alt="search"></span> 
                <span class="h-[21px] w-[20px] relative after:w-[18px] after:h-[18px] after:absolute after:bg-primary after:content-['2'] after:-top-5 after:-right-2 after:rounded-full after:text-white after:text-xs after:text-center"><img src="Icon.png" class="h-[21px] w-[20px] cursor-pointer" alt="wishes"></span>
                <span class="h-[21px] w-[20px] relative after:w-[18px] after:h-[18px] after:absolute after:bg-primary after:content-['2'] after:-top-5 after:-right-2 after:rounded-full after:text-white after:text-xs after:text-center"><img src="Vector.png" class="h-[21px] w-[20px] cursor-pointer" alt="cart"></span>
            </div>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <img class="w-6 h-6" src="align-right.png" alt="">
          <!-- <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg> -->
      </button>
    </div>
    <div class="items-center justify-between hidden w-full max-sm:h-full md:flex md:w-auto md:order-1 max-sm:bg-transparent " id="navbar-sticky">
      <ul class="flex items-center flex-col p-4 md:p-0 mt-4 max-sm:w-72  max-sm:items-start font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/main/home" routerLinkActive="text-activelink" class="block text-base py-2 px-3  text-descText  rounded md:bg-transparent" >Home</a>
        </li>
        <li>
          <a routerLink="/main/allcateogry" routerLinkActive="text-activelink" class="block text-base py-2 px-3">All Cateogry</a>
        </li>
        <li>
          <a routerLink="/main/about-us" routerLinkActive="text-activelink" class="block text-base py-2 px-3">About</a>
        </li>
        <li>
          <a routerLink=" " routerLinkActive="text-activelink" class="block text-base py-2 px-3">Contact</a>
        </li>
      </ul>
    </div>

    </div>
  </nav>


<!-- Main modal -->
<div id="progress-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full ">
    <div class="relative p-4 w-full max-w-md max-h-full pt-44 after:absolute after:w-[35px] after:h-[35px] after:bg-primary after:top-0 after:right-52 after:rounded-full after:content-['x'] after:text-center after:text-2xl ">
        <!-- Modal content -->
        <div class="relative bg-transparent ">

          <app-modal-navbar></app-modal-navbar>
               
            <!-- <form class="max-w-md mx-auto">   
              
              <div class="relative">
                  <div class="absolute inset-y-0 end-2 flex items-center ps-3 pointer-events-none">
                      <svg class="w-8 h-8 text-white dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                  </div>
                  <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm border-b-white border-t-0 border-r-0 border-l-0 bg-transparent focus:ring-0 placeholder:text-white placeholder:text-[30px]" placeholder="Search Here..." required />
                  
              </div>
            </form> -->
        </div>
    </div>
</div> 

  
