<section class="forget-password">
    <h1 class="text-3xl mb-8">Forgot Your Password ?</h1>
    <form [formGroup]="forgetPasswordForm" (submit)="forgetPasswordSubmit()">
        <app-custom-input formControlName="email" [inputName]="'Email'" [inputType]="'email'" inputPlaceholder="Email Or Phone Number" ></app-custom-input>
        <div>
            <app-primary-btn [btnText]="'Recover Password'" [btnClasses]="'rounded-[30px] flex justify-center items-center h-[50px]'" />
        </div>
    </form>
</section>