<section class="p-6 pb-4 rounded-[40px] border">
    <div>
        <figure class="mb-4">
            <img [src]="getApi.image" [alt]="getApi.name">
        </figure>
        <div class="text-center border-b border-black pb-4">
            <h3 class="font-bold">{{getApi.name}}</h3>
            <span class="text-primary font-bold">{{getApi.jobTitle}}</span>
        </div>
        <div class="our-team-social flex mt-4">
            @for (icon of displayIcons; track $index) {
                <div class="w-1/4 flex justify-center items-center">
                    <app-icons-section [getApi]="icon"></app-icons-section>
                </div>
            }
        </div>
    </div>
</section>