

<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
    @for (item of imgData.images; track $index) {
    <swiper-slide>
      <img [src]="item" />
    </swiper-slide>
}
</swiper-container>

  <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
    watch-slides-progress="true">

    @for (item of imgData.images; track $index) {
    <swiper-slide>

      <img [src]="item" />
    </swiper-slide>
}
  </swiper-container>


