<a
  (click)="onClick()"
  [class]="
    'flex items-center border-0 ' +
    ' ' +
    (isDisabled()
      ? 'bg-gray-300 text-primary'
      : 'bg-primary text-white cursor-pointer') +
    ' ' +
    (btnClasses()
      ? btnClasses()
      : ' rounded-[30px] px-[31px] text-center justify-center h-[50px]')
  "
>
  @if(!isLoading()){
  <span [class]="btnTextClasses()">{{ btnText() }}</span>
  @if (btnIcon()) {
  <img
    [src]="btnIcon()"
    [class]="'w-[13px] h-[15px] ' + btnIconClasses()"
    alt="right arrow"
  />
  } }@else{

  <span [class]="'text-primary'">{{ loadingMsg() + "..." }}</span>
  <app-loader width="20px" height="20px" color="var(--primary-color)" />
  }
</a>
