<ul class="error flex flex-col my-2 ml-1 list-disc pl-5">
  @if( fieldObj() && fieldObj()?.touched){

  <!-- Start of For LOOP  -->
  @for (errorTitle of fieldErrorList; track $index) {

  <!-- If Required, show the folowing error message -->
  @if(errorTitle === 'required'){
  <li class="mb-1 text-[#dc3545] text-[80%]">Please enter {{ fieldName() }}</li>
  }

  <!-- If Email pattern is wrong, show the folowing error message -->
  @if(errorTitle === 'email'){
  <li class="mb-1 text-[#dc3545] text-[80%]">Invalid email format</li>
  }

  <!-- If minlength, show the folowing error message -->
  @if(errorTitle === 'minlength'){
  <li class="mb-1 text-[#dc3545] text-[80%]">
    Minimum length is
    {{ fieldObj()?.errors?.['minlength']?.requiredLength }} characters
  </li>
  }

  <!-- If maxlength, show the folowing error message -->
  @if(errorTitle === 'maxlength'){
  <li class="mb-1 text-[#dc3545] text-[80%]">
    Max length is
    {{ fieldObj()?.errors?.['maxlength']?.requiredLength }} characters
  </li>
  }
  <!-- If pattern of input is wrong, show the folowing error message -->
  @if(errorTitle === 'pattern'){
  <li class="mb-1 text-[#dc3545] text-[80%]">
    The {{ fieldName() }} pattern is incorrect
  </li>
  }
  <!--  -->
  }
  <!-- End of For LOOP  -->

  <!--  -->
  }

  <!-- Handle other custom validation errors -->
  @if(errorMessage()){
  <li class="mb-1 text-[#dc3545] text-[80%]">
    {{ errorMessage() }}
  </li>
  }
</ul>
