<section class="gallery-section mb-6 md:mb-20">
  <app-section-tag class="block mb-2" tagName="Our Gallery" />
  <app-section-title
    class="block mb-10 text-center"
    title="Let's Check Our Photo Gallery"
  />
  <ul
    class="grid grid-cols-1 justify-items-center items-center sm:grid-cols-2 sm:justify-start sm:items-stretch lg:grid-cols-3 gallery-section__items gap-y-4 sm:gap-y-6 sm:gap-x-6"
  >
    @for (item of galleryItemsList; track $index) {

    <div
      [style]="{
        '--md-col-span': item.mdColSpan || 1 + '',
        '--lg-col-span': item.lgColSpan || item.mdColSpan || 1 + '',
        '--xl-col-span': item.xlColSpan || item.lgColSpan || item.mdColSpan || 1 + '',
      }"
      class="h-[411px] w-full rounded-[40px] gallery-section__items__item-wrapper md:[grid-column:span_var(--md-col-span)_/_span_var(--md-col-span)] lg:[grid-column:span_var(--lg-col-span)_/_span_var(--lg-col-span)] xl:[grid-column:span_var(--xl-col-span)_/_span_var(--xl-col-span)]"
    >
      <div
        class="w-full h-full bg-cover bg-center rounded-[40px]"
        [style.backgroundImage]="'url(' + item.imageSrc + ')'"
      ></div>
    </div>

    }
  </ul>
</section>
