<!-- w-[956px] -->
<!-- w-[343px] -->
<!-- sm:w-[500px] -->
<!-- md:w-[600px]  -->
<!-- sm:w-[600px] md:w-[100%] -->

@if(specialGiftsSliderList.length > 0){
<div
  id="special-gifts-carousel"
  class="relative h-[217px] sm:h-[440px] md:h-[440px] lg:rounded-[20px] lg:h-[441px]"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative h-full overflow-hidden max-sm:rounded-[20px] rounded-lg">
    @for (item of specialGiftsSliderList; track $index) {
    <div
      [id]="'sg_carousel-item-' + ($index + 1)"
      [class]="'duration-700 ease-in-out h-full'"
      data-carousel-item
    >
      <div
        class="slide__content bg-cover bg-center bg-no-repeat h-full flex flex-col items-start justify-center"
        [style.backgroundImage]="'url(' + item.imageSrc + ')'"
      >
        <div
          class="max-sm:w-[153px] w-[381px] relative max-sm:left-[16px] left-[56px] flex flex-col items-start"
        >
          <p
            class="uppercase font-[700] text-primary max-sm:text-[16px] text-[20px] max-sm:leading-[10.74px] leading-[24.6px] max-sm:tracking-[1.63px] tracking-[3.73px] max-sm:mb-[16px] mb-[24px]"
          >
            {{ item.label }}
          </p>
          <p
            class="text-accent font-[700] max-sm:text-[20px] text-[45px] max-sm:leading-[24.2px] leading-[50.33px] max-sm:mb-[8px] mb-[16px]"
            [innerHTML]="item.title"
          ></p>
          <p
            class="text-descText font-[400] max-sm:text-[12px] text-[16px] max-sm:leading-[14.52px] leading-[27.96px] max-sm:mb-[16px] mb-[24px]"
          >
            {{ item.description }}
          </p>

          <app-primary-btn
            btnClasses="gap-[4.666px] rounded-[4.07px] max-sm:p-[8px] py-[6.52px] px-[13.98px] shadow-[0px_0px_37.28px_4.66px_#0000000D]"
            [btnText]="item.btnText"
            btnTextClasses="max-sm:text-[12px] text-[14.91px] max-sm:leading-[14.52px] leading-[26.84px] font-[500]"
            btnIcon="/right-arrow.svg"
            btnIconClasses="max-sm:w-[14px] max-sm:h-[12.87px]"
          ></app-primary-btn>
        </div>
      </div>
    </div>
    }
  </div>
  <!-- Slider indicators -->
  <div
    class="max-sm:hidden absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    @for(number of sliderIndicators; track $index){
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      [attr.aria-current]="$first ? true : false"
      [attr.aria-label]="'Slide ' + (number + 1)"
      data-carousel-slide-to="0"
    ></button>
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute bottom-0 max-sm:end-[31.13px] end-[125px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="absolute bottom-[24px] inline-flex items-center justify-center w-10 h-10 rounded-full bg-white dark:bg-gray-800/30 group-hover:bg-white dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none max-sm:w-[17.89px] max-sm:h-[17.89px]"
    >
      <img
        src="/slider-control-icon.svg"
        class="max-sm:w-[6.55px] w-[15px] max-sm:h-[10.47px] h-[24px] scale-x-[-1]"
        alt=""
        srcset=""
      />
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 max-sm:end-[8px] end-[72px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="absolute bottom-[24px] inline-flex items-center justify-center w-10 h-10 rounded-full bg-white dark:bg-gray-800/30 group-hover:bg-white dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none max-sm:w-[17.89px] max-sm:h-[17.89px] max-sm:p-[3.66px_5.77px]"
    >
      <img
        src="/slider-control-icon.svg"
        class="max-sm:w-[6.55px] w-[15px] max-sm:h-[10.47px] h-[24px]"
        alt=""
        srcset=""
      />
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
}@else{ }
