<section class="verify-code">
    <h1 class="text-3xl mb-8">Verify Code</h1>
    <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSumbit()">
        <app-custom-input formControlName="resetCode" [inputName]="'Code'" [inputType]="'number'" inputPlaceholder="Enter Code" ></app-custom-input>
        <p class="text-right mb-8">Didn’t receive a code? <span class="text-primary underline cursor-pointer" (click)="resendCode()">Resend</span></p>
        <div>
            <app-primary-btn (handleBtnClick)="verifyCodeSumbit()" [btnText]="'Recover Password'" [btnClasses]="'rounded-[30px] flex justify-center items-center h-[50px]'" />
        </div>
    </form>
</section>