<section class="reset-password">
    <h1 class="text-3xl mb-8">Set a Password</h1>
    <form [formGroup]="resetPasswordForm" (submit)="ResendCode()">
        <app-custom-input formControlName="newPassword" [inputName]="'new password'" [inputType]="'password'" inputPlaceholder="Create Password" ></app-custom-input>
        <app-custom-input formControlName="rePassword" [inputName]="'rePassword'" [inputType]="'password'" inputPlaceholder="Re-enter Password" ></app-custom-input>
        <div>
            <app-primary-btn (handleBtnClick)="ResendCode()" [btnText]="'Recover Password'" [btnClasses]="'rounded-[30px] flex justify-center items-center h-[50px]'" />
        </div>
    </form>
</section>