

<footer class= "bg-footer-bg h-[373px]">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
      


            <ul class="flex gap-14 items-center  text-[16px] max-sm:gap-2 max-sm:text-[14px] max-sm:font-bold font-medium text-accent mt-7">

                <li>
                    <a routerLink="" class="hover:underline me-4 md:me-6 max-sm:ms-10">About US</a>
                </li>
                <li>
                    <a routerLink="" class="hover:underline me-4 md:me-6">Store Location</a>
                </li>
                <li>
                    <a routerLink="" class="hover:underline me-4 md:me-6">Contact</a>
                </li>
                <li>
                    <a routerLink="./delivery" class="hover:underline">Delivery </a>
                </li>
                <li>

                    <a routerLink="./policy" class="hover:underline max-sm:hidden">Policy</a>
                </li>
                <li>
                    <a routerLink="./faqs" class="hover:underline max-sm:hidden">FAQS</a>

                    
                </li>
               
            </ul>

        </div>
        <div class="text-center mt-7">
            <h1 class="text-[30px] text-accent font-bold "> Get <span class="text-primary"> 20%</span> Off Discount Coupon</h1>
            <h3 class="text-primary text-[20px] font-medium mt-1">By Subscribe Our Newsletter</h3>

        </div>
        <div class="w-full">
            <div class="w-[400px] mx-auto mt-10 text-center relative">
                <input type="email" id="helper-text" aria-describedby="helper-text-explanation" class="bg-gray-50 border-0 mx-auto border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-[400px] p-2.5 max-sm:p-4 max-sm:rounded-xl  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " placeholder="Enter your Email">
                <button class="py-2 px-5 me-2 mb-2 text-[16px] font-medium focus:outline-none bg-footer-button text-white rounded-full border absolute -top-px -right-[8px] max-sm:p-[14px] max-sm:rounded-xl">Subscribe <i class="fa-solid fa-arrow-right"></i> </button>  
            </div>

        </div>
</footer>
