<div class="container h-screen p-10 max-sm:flex-col md:flex  ">
    <div class="container h-full rounded-3xl w-full md:w-1/2 my-auto layout-bg flex justify-center items-center ">
        <div class="text-center ">
            <h1 class="text-5xl font-extrabold tracking-widest mb-4 text-primary">ROSE</h1>
            <h2 class="text-5xl font-extrabold tracking-widest text-primary">Flower shop</h2>
            

        </div>
        
        
    </div>
    <div class="w-full md:w-1/2">


    </div>

</div>

